.namebadge {
  position: absolute;
    left: 290px;
    width: 329px;
    padding: 20px;
}
#title {
    position: absolute;
    top: 240px;
    right: 216px;
    width: 450px;
    /*border: solid 1px black;*/
    word-wrap: break-word;
    font-size: 350%;
    line-height: 90%;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    text-align: center;
    margin: 20px;
}
