h1{
color:purple;
font-size:200%;
border: 5px solid green;
}
p {
  font-family: "Lucida Console", "Courier New", monospace;
  text-indent: 20px;
  margin-left: 10px;
}
#content {
  background-color: lightgrey;
width: 300px;
border: 15px solid green;
padding: 50px;
margin: auto;
}
