nav,a{
  color:green
}

nav,li{
  color: #09AD21
}
body {
  margin:20px;
  background-color: #000000;
  font-size: 20px;

}
#content, #menu {
  padding: 20px;
  border: 5px solid green;
  background-color: white

}
img {
  position: relative;
    left: -45px;
    width: 516px;
      padding: 20px;
      border: 5px solid green;
}

#tom {
  font-size: 20px;
  color: #09AD21;

}

#tom2 {
  font-size: 30px
}
